{% extends "base.html" %}
{% block myContent%}

<h2>{{ page_title }}</h2>
<p>
    The Hobbit" is a fantasy novel by J.R.R. Tolkien that tells the story of Bilbo Baggins, a hobbit who joins a group
    of dwarves on a quest to reclaim their homeland from a dragon. Throughout their journey, they encounter various
    challenges and adversaries while Bilbo discovers courage and resourcefulness within himself. The novel is set in the
    enchanting world of Middle-earth and serves as a prequel to Tolkien's epic trilogy, "The Lord of the Rings.
</p>

{% for cast in about_content %}
{% if loop.index % 2 != 0 %}
<div class="row featurette my-5">
    <div class="col-md-7">
        <h3><a href="/about/{{cast.url}}">{{ loop.index }}. {{ cast.name }}</a></h3>
        <p class="text-justify">{{ cast.description }}</p>
        <small>Image credits<br>{{ cast.credits }}</small>
    </div>
    <div class="col-md-5">
        <img src="{{ cast.img_source }}" alt="{{ cast.alt_img }}" class="featurette-image image-responsive">
    </div>
</div>
{% else %}
<div class="row featurette my-5">
    <div class="col-md-5">
        <img src="{{ cast.img_source }}" alt="{{ cast.alt_img }}" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{cast.url}}">{{ loop.index }}. {{ cast.name }}</a></h3>
        <p class="text-justify">{{ cast.description }}</p>
        <small>Image credits<br>{{ cast.credits }}</small>
    </div>
</div>
{% endif %}

{% if loop.index != loop.length %}
<hr class="featurette-divider">
{% endif%}
{% endfor %}

{%endblock%}