{% extends "base.html"%}
{% block myContent%}

{{ about_content[1]['name'] }}

<h2>{{ page_title }}</h2>
<p>
    The Hobbit" is a fantasy novel by J.R.R. Tolkien that tells the story of Bilbo Baggins, a hobbit who joins a group
    of dwarves on a quest to reclaim their homeland from a dragon. Throughout their journey, they encounter various
    challenges and adversaries while Bilbo discovers courage and resourcefulness within himself. The novel is set in the
    enchanting world of Middle-earth and serves as a prequel to Tolkien's epic trilogy, "The Lord of the Rings.
</p>

{% for cast in about_content %}

    <div class="row featurette my-5">
        <div class="col-md-7">
            <h3>{{ cast.name }}</h3>
            <p>{{ cast.description }}</p>
            <small>Image credits<br>{{ cast.credits }}</small>
        </div>
        <div class="col-md-5">
            <img src="{{ cast.img_source }}" alt="{{ cast.alt_img }}" class="featurette-image image-responsive">
        </div>
    </div>
    <hr class="featurette-divider">
{% endfor %}

{%endblock%}